html{
   box-sizing: border-box;

   }

   *, *::before, *::after {
     box-sizing: inherit;
   }

h1,h2,h3,h4,h5,h6,p,nav{
  font-family: 'Oswald', bold;
}

h1{
margin:0;
color:#000;
text-align: center;
position:relative;
top:8px;
right:175px;
margin-right: 5px;
}


header{
  background-color:#f9c640;
  width:165%;
  display:block;
}

h4{
  font-size:1.5rem;
  text-align: center;
  color:#000;
  }


nav{
overflow:hidden;
clear:left;
margin:0;

}



nav li{
  text-align:left;
  padding: 0.5em;
  float:left;
  width:25%;
  background-color:#f6ea45;
}


nav li:hover {
  background-color:#c33738;
}
nav a{
  padding:0.5em;
  color:#000;
  text-decoration:none;
  font-size:1.15 rem;
}

nav ul{

  list-style-type: none;
  padding:0;
  margin:0;
  }

  header p{
    text-align: center;
  }


  header .symbol{
    font-size:7em;
    padding:0;
  }



  h3 {
    font-size: 0rem;
    color:#d13049;
    text-align: center;
    left:5px;
    }

    h6{
      text-align: center;
      font-size:1.85rem;
      float:none;
      position:absolute;
      top:178px;
      right:23px;
      color:#fff;
    }

 .panchovilla{
   width:7.5%;
   position:absolute;
   left:13px;
   top:8px;
   border:0;
 }

img{
     width:100%;
     text-align:center;

}

div img{
  width: 100%;
  float: left;

}

.Tacos{
  background-color:#ffffff;
  overflow: hidden;
}

.Sopa{
  background-color:#ffffff;
  overflow: hidden;
  color:#000
  }

.Drinks{
  background-color:#ffffff;
  overflow: hidden;
  color:#000
}
.ceviche{
    background-color:#ffffff;
    overflow: hidden;
  }

.coronas{
  background-color:#ffffff;
  overflow: hidden;
  }

.contactus{
background-color:#f9c640;
overflow: hidden;
}

.aboutus{
  background-color:#f6ea45;
  overflow: hidden;
}

.menu{
  background-color:#e18c33;
  overflow:hidden;
}

.promotions{
  background-color:#e1b436;
  overflow:hidden;
}

.contactus{
  background-color:#da4c30;
  overflow:hidden;
}


 h2{
  margin:0;
  color:#f79f3b;
  text-align:center;
  width:185%;
  font-size:1.8rem;
  position:relative;
  top:2px;
  right:179px;
  margin-right: 12px;
  display:block;
}

 footer{
   background-color:#f79f3b;
   color:#fff;
   text-align: center;
   font-size: .8rem;
   padding:0.5em;
   }

 h3{
   text-align: center;
   font-size:1.85rem;
 }
